<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mwils.april">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ForgotPassword"></activity>
        <activity android:name=".Admin" />
        <activity android:name=".Exercises.ExerciseWarmup.ExercisesWarmupStanding" />
        <activity android:name=".Exercises.ExerciseWarmup.ExercisesWarmup" />
        <activity android:name=".Exercises.Exercises" />
        <activity android:name=".Exercises.ExercisesWarning" />
        <activity android:name=".Nutrition.NutritionSick" />
        <activity
            android:name=".Nutrition.NutritionInformation.NutritionInformation"
            android:label="@string/title_activity_nutrition_information"
            android:parentActivityName=".Nutrition.Nutrition"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mwils.april.Nutrition.Nutrition" />
        </activity>
        <activity
            android:name=".Exercises.ExerciseProgramme.ExerciseProgramme"
            android:label="@string/title_activity_exercise_programme"
            android:parentActivityName=".Exercises.Exercises"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mwils.april.Nutrition.Nutrition" />
        </activity>
        <activity
            android:name=".Nutrition.NutritionMeals.NutritionMeals"
            android:label="NutritionMeals"
            android:parentActivityName=".Nutrition.Nutrition"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mwils.april.Nutrition.Nutrition" />
        </activity>
        <activity
            android:name=".Nutrition.NutritionSmoothies.NutritionSmoothies"
            android:label="NutritionSmoothies"
            android:parentActivityName=".Nutrition.Nutrition"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mwils.april.Nutrition.Nutrition" />
        </activity>
        <activity
            android:name=".Nutrition.Nutrition"
            android:label="@string/title_activity_nutrition_main" />
        <activity android:name=".LoginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>